{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    activePage: 'myAssets'
} %}

{% block customerContent %}
	<div class="box">
    <h1>Aashu</h1>
    
    </div>

{% endblock %}
